/** @format */

@import "../../home/HomeCss/Navigation.css";
@import "../../home/HomeCss/footer.css";

body {
  background-blend-mode: exclusion;
  background-color: rgb(236, 236, 202);
}

.card {
  margin: 1rem 8rem 1rem 8rem;
  /* border: solid black 1px; */
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  background-color: rgb(240, 238, 231);
  box-shadow: 5px 10px 8px rgb(80, 80, 80);
}

.imageblog {
  width: 100%;
  height: auto;
  grid-column: 2/2;
  grid-row: 3;
  justify-self: center;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.atitle {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 5px;
}

.btitle {
  grid-column: 2;
  grid-row: 4;
  justify-content: start;
  margin: 3rem;
}

.author {
  grid-column: 2;
  grid-row: 2;
  justify-items: left;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 250px;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: 3rem;
}

.avatar {
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 0.5rem;

}

.avatar:hover {
  zoom: 1.5;
}

.author h4 a {
  color: blue;
  text-decoration: solid;
}

.quot {
  grid-column: 2;
  grid-row: 5;
  color: rgb(82, 82, 82);
  text-indent: 2rem;
  font-size: 1.5em;
  border-left: cadetblue solid 2px;
  padding: 2rem;
}

.blog {
  grid-column: 2;
  grid-row: 6;
}