.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: rgba(202, 170, 170, 0.884);
    margin: 2rem 1.5rem 2rem 1.5rem;
}

form {
    grid-column: 1;
    grid-row: 2/3;
    justify-self: center;

}

.footerpar {


    justify-self: center;
    margin-left: ;

}



.footer-links {
    /* background-color: lightcoral; */
    grid-column: 4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}