/** @format */

@import "navigation.css";
@import "resp_small.css";
@import "resp_medium.css";
@import "resp_larg.css";

body {


  background-image: url(https://images.unsplash.com/photo-1461902144240-fcb450abaa4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-attachment: scroll, local;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: exclusion;
}

.title {
  display: flex;

  /* background-color: aquamarine; */
  justify-content: center;
  height: 150px;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1581612371919-6fce0c441190?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  background-color: blanchedalmond;
  padding: 10px;
  background-image: url(https://images.unsplash.com/photo-1573641287741-f6e223d81a0f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

  opacity: 0.9;
}

.box:hover {
  background-color: rgb(114, 114, 114);
}

.blog-title {
  display: flex;
  justify-content: center;
  color: crimson;
}

.cap-text {
  text-indent: 1rem;
  overflow: hidden;
  text-align: justify;
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  height: 20px;
  margin: 2rem 1.5rem 2rem 1.5rem;
}