/** @format */

@import "resp_small.css";
@import "navigation.css";
@import "resp_medium.css";
@import "resp_larg.css";

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: exclusion;
  background-color: rgb(233, 233, 227);
}

.title {
  display: flex;

  background-color: aquamarine;
  justify-content: center;
  height: 150px;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1581612371919-6fce0c441190?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;

}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: none;

  box-shadow: 5px 5px 8px #888;
}

.box button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}



.box:hover {
  box-shadow: 5px 10px 8px rgb(80, 80, 80);
}

.box img {
  width: 100%;
  padding: 0;
}

.box h1 {
  margin-left: 1rem;
  font-size: 1.2rem;
  height: 48px;
  overflow: hidden;


}

.blog-title {
  display: flex;
  justify-content: center;

}

.cap-text {
  text-indent: 1rem;
  overflow: hidden;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;

  padding: 5px;

}

.footer {
  display: flex;
  background-color: rgb(235, 170, 170);
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.footer-links {
  margin-right: 3rem;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  font-size: 0.8rem;
}

.button {
  /* background-color: rgb(210, 177, 241); */
  border-radius: 6px;
  height: 35px;
}

.button:hover {
  background-color: cadetblue;
  cursor: pointer;
}