/* Styling form section */
.footer {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 45px 45px;
    background-color: rgba(194, 185, 185, 0.829);
    box-shadow: 5px 5px 8px #888;
    margin: 2rem 1.5rem 2rem 1.5rem;



}

form {
    grid-column: 1;
    grid-row: 2/2;
    margin-left: 3rem;
    align-self: start;
    margin-top: 10px;


}

.footerpar {
    margin-top: 0;
    margin-left: 3rem;
    margin-bottom: 10px;
    margin-bottom: 0px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;



}

/* Styling Links section */



.links {
    grid-column: 4/4;
    grid-row: 1/2;
    align-items: center;



}

.links a {
    color: black;
}

#linksid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-row-gap: 5px;
    font-size: 2em;




}

.links a {

    margin-left: 0.5rem;
}